/** =============== Persian fonts =============== */

/** IranYekanX Pro */

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Thin.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Thin.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-UltraLight.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-UltraLight.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Light.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Light.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Medium.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Medium.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-DemiBold.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-DemiBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-ExtraBold.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-ExtraBold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Black.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Black.woff2")
      format("woff2");
}
@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 950;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-ExtraBlack.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-ExtraBlack.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: 1000;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Heavy.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Heavy.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Bold.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Bold.woff2")
      format("woff2");
}

@font-face {
  font-family: IRANYekanX;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanX-Regular.woff")
      format("woff"),
    url("../assets/fonts/iranYekanX_woff2/IRANYekanX-Regular.woff2")
      format("woff2");
}

/** IranYekanX VF Variable */

@font-face {
  font-family: "IRANYekanXVF";
  src: url("../assets/fonts/iranYekanX_woff/IRANYekanXVF.woff")
      format("woff-variations"),
    /* will be the standard and works in Safari now */
      url("../assets/fonts/iranYekanX_woff/IRANYekanXVF.woff") format("woff");
  /* for the other supporting browsers */
  font-weight: 100 1000;
  font-display: fallback;
}

/** IranYekanX Static Fonts */

@font-face {
  font-family: IRANYekanX;
  src: url("../assets/fonts/IranYekanX_woff_staticfonts/IRANYekanX-Regular.woff")
    format("woff");
}

@font-face {
  font-family: IRANYekanX;
  src: url("../assets/fonts/IranYekanX_woff_staticfonts/IRANYekanX-Bold.woff")
    format("woff");
  font-weight: 700;
}

/** =============== Digi Rastin Bold =============== */

@font-face {
  font-family: "digi-rastin-bold";
  src: url("../assets/fonts/Digi-Rastin-Bold.ttf");
}

/** =============== English Fonts =============== */

/** Britney */

@font-face {
  font-family: "Britney-Variable";
  src: url("../assets/fonts/Britney/Britney-Variable.woff2") format("woff2"),
    url("../assets/fonts/Britney/Britney-Variable.woff") format("woff"),
    url("../assets/fonts/Britney/Britney-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/** Roboto */

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}
